<section id="body" class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box">
                    <div class="content has-text-centered">
                        <% if @user.images.attached? %>
                        <%= image_tag asset_url @user.user_avatar, size: 250 %>
                        <% end %>
                        <h1 class="is-size-3"><%= @user.firstname %> <%= @user.lastname %></h1>
                        <p class="is-size-5">@<%= @user.username %></p>
                        <p class="is-size-6"><%= @user.gender %> <br>
                            Age: <%= @age %></p>
                    </div>
                </div>
            </div>
            <div class="column is-three-quarter">
                <div class="box">
                    <div class="content has-text-centered">
                        <h1 class="is-size-2">Bio</h1>
                        <p class="is-size-5"><%= @user.bio %></p>
                        <h1 class="is-size-2">Library</h1>
                        <p class="is-size-5">3 Most Played Games</p>
                        <div class="columns">
                            <% @most_played.each do |game| %>
                            <div class="column">
                                <% url = "http://media.steampowered.com/steamcommunity/public/images/apps/#{game.appid}/#{game.img_url}.jpg" %>
                                <%= image_tag(url) %>
                                <br>
                                <%= game.name %>
                            </div>
                            <% end %>
                        </div>
                        <p class="is-size-5">Most Recently Played</p>
                        <% @recently_played.each do |game| %>
                        <% url = "http://media.steampowered.com/steamcommunity/public/images/apps/#{game.appid}/#{game.img_url}.jpg" %>
                        <%= image_tag(url) %>
                        <%= game.name %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
