<div class="container">
  <div class="columns is-centered">
    <div class="column is-one-third">
      <ul id="slides">
        <% @users.each_with_index do |user,i|%>
          <li class="slide <%= 'showing' if i==0 %>" data-id="<%= user.id %>">
            <div class="card">
              <div class="card-image">
                  <div class="image-bg-bigger" style="background-image: url(<%= user.user_avatar user%>);">
              </div>
              <div class="card-content">
                <p class="title is-4"><%= user.firstname %>
                  <%= user.lastname %></p>
                <p class="subtitle is-6">
                  nick
                </p>

                <div class="content">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                  <ul class="user-details">
                    <li>Studies:
                    </li>
                    <li>Location:
                    </li>
                  </ul>
                </div>

              </div>
              <footer class="card-footer">
                <button class="card-footer-item button is-danger is-light" id="decline">
                  nope
                </button>
                <%= link_to "expand profile", show_user_path(id: user.id), class: "card-footer-item button is-info is-light" %>


                <button class="card-footer-item button is-success is-light" id="approve">
                  yes
                </button>
              </footer>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
