<% @messages.each do |message| %>
<% if message.persisted? %>
<% if message.user_id == current_user.id %>
<div class="level is-mobile">
  <div class="level-left"></div>
  <div class="level-right">
    <div class="level-item has-text-right">
      <div class="tag is-medium is-rounded is-primary">
        <%= simple_format message.body %>
      </div>
    </div>
    <div class="level-right">
      <p class="image is-32x32 is-square" style="padding: 8px">
        <% if current_user.images.attached? %>
        <%= image_tag((asset_url current_user.user_avatar), class: "is-rounded profile-picture") %>
        <% else %>
        <%= image_tag("default_avatar.jpeg", class: "is-rounded profile-picture") %>
        <% end %>
      </p>
    </div>
  </div>
</div>
<% else %>
<div class="level is-mobile">
  <div class="level-left">
    <div class="level-item">
      <p class="image is-32x32 is-square">
        <% if message.user.images.attached? %>
        <%= image_tag((asset_url message.user.user_avatar), class: "is-rounded profile-picture") %>
        <% else %>
        <%= image_tag("default_avatar.jpeg", class: "is-rounded profile-picture") %>
        <% end %>
      </p>
    </div>
    <div class="level-item">
      <div class="tag is-medium is-rounded">
        <%= simple_format message.body %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
<% end %>