<div clas="container">
  <div class="columns" id="convo">
    <div class="column has-background-white">
      <p class="title">
        Matches
      </p>

      <% @matches.each do |match| %>

      <div class="panel-block match-tile match-tab" data-id="<%= match.id %>">
        <figure class="media-left">
          <p class="image is-64x64 is-square">
            <% if match.images.attached? %>
            <%= image_tag((asset_url match.user_avatar), class: "is-rounded profile-picture") %>
            <% else %>
            <%= image_tag("default_avatar.jpeg", class: "is-rounded profile-picture") %>
            <% end %>
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p><%= match.firstname %> <%= match.lastname %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <!-- This will have content once a user presses on a match -->
    <div class="column is-three-quarters has-background-white">
      <div id="conversation">
        <div id="initiate-conversation" class="has-text-centered is-vcentered">
          <!-- put code here -->
          <p class="is-size-2">Tap on a user to start a conversation with them.</p>
        </div>
      </div>
    </div>
  </div>
</div>